body {
    background: gray
}

p{
    color: blue;
}
.foto001{
    width: 200px;
    border: 5px solid goldenrod; /* shortheand*/
    border-radius: 5% 32% 50% 90%;
    /*
    width: 200px;
    border-style: solid;
    border-color: blue;
    */
}
