body {
    background: gray;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.foto001{
    width: 200px;
    border: 5px solid goldenrod; /* shortheand*/
    border-radius: 100%;
    margin: 30px;
    box-shadow: 0px 0px 10px black;
    }

h1{
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 35px;
}    

h2{
    margin-top: 0;
    font-style: italic;
    color: rgb(48, 48, 48);
    font-weight: 100;
    letter-spacing: -1px;
}